# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore yarn files
/node_modules
/yarn-error.log

# Ignore assets files
/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore dotenv
.env