<%= form_with(model: [book, article, comment]) do |form| %>

    <div class="field">
      <%= form.label :content, { class: 'sr-only' } %>
      <%= form.text_area :content, { placeholder: t('views.comment.write_comment') , rows: '3', class: 'form-control' } %>
    </div>

    <div class="action clearfix">
      <%= form.submit t('views.button.post'), { class: 'btn btn-default btn-primary float-right' } %>
    </div>
<% end %>
