<span id="recommend_fav">
  <% if !recommend.faved?(current_user) %>
    <%= link_to recommend_favs_path(id: "#{recommend.id}"), { method: :post, class: "rec_fav", remote: true } do %>
      <%= icon('far', 'heart', id: "#{recommend.id}" )%>
    <% end %>
  <% else %>
    <%= link_to recommend_fav_path(recommend), { method: :delete, class: "rec_fav", remote: true } do %>
      <%= icon('fas', 'heart', id: "#{recommend.id}" )%>
    <% end %>
  <% end %>
</span>
