<div class="container-fluid recommend-background">
  <div class="container">
    <h3 class="text-white"><%= t('views.title.recommend_edit') %></h3>
    <%= render 'form' %>
    <%= link_to "back to group page", recommend_path(@recommend.id) %>
  </div>
</div>
