<h2>Book Group</h2>
<div lass="d-flex flex-column">
  <div>
    Author: <%= @user.name %>
  </div>
  <div>
    GroupNmae: <%= @recommend.name %>
  </div>
  <div>
    Summary: <%= @recommend.summary %>
  </div>
</div>
