<h3>本の登録</h3>

<p>新たに登録した本の情報を入力してください。</p>
<% if @book.errors.any? %>
  <div id = "error_explanation">
    <h2><%= "#{@book.errors.count}エラーがありました。" %></h2>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container p-0">
  <%= render 'form' %>
</div>
