<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>


<%= form_with(model:@book, local:true, url: choose_new_or_edit) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, {class: 'form-control', placeholder: 'Tile'} %>
  </div>

  <div class="form-group">
    <%= f.label :%>
  </div>