<span id="favorite">
  <% if !article.faved?(current_user) %>
    <%= link_to article_favs_path(id: "#{article.id}"), { method: :post, class: "fav", remote: true } do %>
      <%= fa_icon("heart-o", id: "#{article.id}" )%>
    <% end %>
  <% else %>
    <%= link_to article_fav_path(article), { method: :delete, class: "fav", remote: true } do %>
      <%= fa_icon("heart", id: "#{article.id}" )%>
    <% end %>
  <% end %>
</span>