.book_index_container {
  background: rgba(74,72,42, 0.5);
  min-height: 100vh;
  text-align: center;
}

a.books_link {
  color: white;
  &:hover {
    position: relative;
    text-decoration: none;
  }
}
a.books_link span {
  display: none;
  position: absolute;
  top: 1rem;
  left:-200;
  z-index: 2;
}
a.books_link:hover span {
  border: none;
  display: block;
  width: 210px;
}

.book-card {
  max-width: 300px;
  min-height: 100px;
}

.card-columns {
  columns: 4;
  min-height: 70%;
}

.form-table {
  height: 330px;
  min-width: 100%;
  background-color: white;
  border-top: 3px #333 solid;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.1);
}

.form-table th {
  background-color: #e8f6f5;
}

.form-table td {
  padding: 5px 20px;
}

.book-submit {
  margin: 30px 0;
}

.book-detial-container {
  background-color: #f8f8ff;
  height: 82.4vh;
}

.book-detail-body {
  text-align: left;
  background-color:white;
  min-height: 180px;
  padding-left:3px;
}

.book-detail-body div{
  padding-bottom: 5px;
}

.pagination {
  justify-content: center;
}