.home {
  background-color: rgba(101, 86, 67, 0.8);
  color: #fff;
  text-align: center;
  padding: 170px 30px 80px;
}
.home .title-text-sub{
  letter-spacing: 1px;
}

.home .title-text{
  padding-top: 20px;
}

h1 {
  font-size: 5rem;
  padding-bottom: 20px;
}

.home .title-content {
  color: #ff9;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.home .start-button {
  background-color: #6E9184;
  border-color: #6E9184;
  margin-bottom: 30px;
}
.home .start-button:hover {
  background-color: #ff9;
  border-color: #ff9;
  color: #6FA65E;
  opacity: 0.9;
}

.about {
  padding: 80px 30px;
  background-color: #fff;
  text-align: center;
}

.about .heading {
  letter-spacing: 2px;
  font-size: 3rem;
}

.about-text {
  margin: 30px 0;
  line-height: 2.0;
}

.scene {
  background-color: #383634;
  padding: 80px 0;
  opacity: 0.95;
  text-align: center;
}

.scene .heading {
  font-size: 3rem;
  padding-bottom: 20px;
  color: #fff;
}

.image-fluid {
  width: auto;
}
.no-padding {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.no-padding > .col,
.no-padding > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.scenes-title {
  color: #fff;
}

.scenes-content {
  color: #fff;
  line-height: 1.5;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.second-akan-title {
  color: #fff;
}

.second-akan-content {
  color: #fff;
  line-height: 2.5;
}

.btn-intro {
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;

}