@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr";
@import "homes", "sessions", "registrations", "users/show", "books", "articles", "recommend";

@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

/*
* base css
*/
html, body{
  height: 100%;
}

.container .container-fluid .row .column {
  height: 100%;
}

body a{
  color: rgb(96, 45, 108);
}

body .yield-wrapper {
  background: asset-url('back_book.jpg') no-repeat fixed left bottom;
  background-size: cover;
  min-height: 100vh;
}


.b-date {
  display: inline-block;
  width: auto;
}

.fa-heart {
  color: red;
}

footer {
  background-color: #151515;
  color: #fff;
  text-align: center;
}

.share-icons li {
  display: inline-block;
  border:1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px 0;
  list-style: none;
  margin: 0 20px;
}
