@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "homes", "sessions_new";


@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

/*
* base css
*/
body {
  background: asset-url('back_book.jpg') no-repeat fixed left bottom;
  background-size: cover;
  color: #151515;
  text-align: center;
  opacity: 1;
}


.b-date {
  display: inline-block;
  width: auto;
}

.fa-heart {
  color: red;
}

footer {
  background-color: #151515;
  color: #fff;
}