@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "homes", "sessions", "registrations", "users/show", "books", "articles", "recommend";

@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

/*
* base css
*/
body {
}

body a{
  color: rgb(96, 45, 108);
}

body .yield-wrapper {
  background: asset-url('back_book.jpg') no-repeat fixed left bottom;
  background-size: cover;
  padding-right: 10px;
  padding-left: 10px;

  min-height: 85.6vh;
}


.b-date {
  display: inline-block;
  width: auto;
}

.fa-heart {
  color: red;
}

footer {
  background-color: #151515;
  color: #fff;
}
