<p>初めまして、<%= @resource.email %>様!</p>

<p>当サイトのほうでパスワードに関してリセットの要望がありましたのでご連絡差し上げております。以下のリンクより可能でございます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしお心当たりがありませんでしたら無視していただくようお願い致します。</p>
<p>リンクより変更しない限りはパスワードはそのままとなりますのでご了承下さい。</p>
