<div class="guid-container small">
  <h4>markdownの書き方</h4>
  <h5>見出し</h5>
  <div>
  # h1の見出し
  </div>
  <div>
  ## h2の見出し
  </div>
  <div>
  ###### h6の見出し
  </div>
  
  <h5>リスト</h5>
  <div>
  - リストの項目
  </div>
  <div>
  - リストの項目
  </div>
  <div>
  - リストの項目
  </div>

  <h5>チェックリスト</h5>
  <div>
  - [ ] リストの項目
  </div>
  <div>
  - [ ] リストの項目
  </div>

  <h5>コード</h5>
  <div>
  ```ruby
  </div>
  <div>
  puts 'code with syntax'
  </div>
  <div>
  ```
  </div>
</div>
